include biowardrobe_airflow_plugins/.git_version
include biowardrobe_airflow_plugins/sql_patches/biowardrobe/*.sql
include biowardrobe_airflow_plugins/sql_patches/genome_browser/*.sql
include biowardrobe_airflow_plugins/cwls/*.cwl

